<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <title>twintest</title>
  <link href="/style.css"  rel="stylesheet">
  <meta http-equiv="x-dns-prefetch-control" content="on">
</head>

 <body>
    <header>
       <div class="companyname">株式会社<br>Twinhome
      </div>

      <div class="navbar">
        <ul class="nav-lists">
          <li>TOP</li>
          <li>経営理念</li>
          <li>事業内容</li>
          <li>会社概要</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </header>

<!-- 画像の設定  -->
    <div class="mainimg"></div>

<!--  経営理念-->
    <div class="contents">
      <div class="first-view">
        <div class="title1">
          <h2>経営理念</h2>
        </div>
        <div class="text1">
          <p>経営理念経営理念経営理念経営理念経営理念<br>
          <br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          </P>
        </div>
      </div>
    </div>

<!--  事業内容-->
    <div class="contents">
      <div class="second-view">
        <div class="title2">
          <h2>事業内容</h2>
        </div>
        <div class="row">
          <div class="img-contents">
            <p class="txc"><img src="https://bit.ly/3FdBLHu" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">System Engineering Service(SES)</h3>
            <p class="mt30">お客様に満足頂けるエンジニアをタイムリーに提供させて頂くこと、そのためにエフ・エフ・エルでは、人として・エンジニアして・法人として社会に貢献するために必要なスキルの向上、また、信頼のおけるパートナーの構築に全力で取組んでいきます。</p>
          </div>

          <div class="img-contents">
            <p class="txc"><img src="https://bit.ly/3FdBLHu" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">System Engineering Service(SES)</h3>
            <p class="mt30">お客様に満足頂けるエンジニアをタイムリーに提供させて頂くこと、そのためにエフ・エフ・エルでは、人として・エンジニアして・法人として社会に貢献するために必要なスキルの向上、また、信頼のおけるパートナーの構築に全力で取組んでいきます。</p>
        </div>
      </div>
    </div>


  
        <!-- 『新着情報』を表示する -->
      </div>
      <div class="middle-content">
        <!-- 『スタイリスト紹介』を表示する -->
      </div>
      <div class="bottom-content">
        <!-- 『フォーム』を表示する -->
      </div>
    </div>

    <footer>
    </footer>
  </body>

</html>

