<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <title>twintest</title>
  <link href="/style.css"  rel="stylesheet">
  <meta http-equiv="x-dns-prefetch-control" content="on">
</head>

 <body>
    <header>
       <div class="companyname">株式会社<br>Twinhome
      </div>

      <div class="navbar">
        <ul class="nav-lists">
          <li>TOP</li>
          <li>経営理念</li>
          <li>事業内容</li>
          <li>会社概要</li>
          <li>お問合せ</li>
        </ul>
      </div>
    </header>

<!-- 画像の設定  -->
    <div class="mainimg"></div>

<!--  経営理念-->
    <div class="contents">
      <div class="first-view">
        <div class="title1">
          <h2>経営理念</h2>
        </div>
        <div class="text1">
          <p>経営理念経営理念経営理念経営理念経営理念<br>
          <br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          </P>
        </div>
      </div>
    </div>

<!--  事業内容-->
    <div class="contents">
      <div class="second-view">
        <div class="title2">
          <h2>事業内容</h2>
        </div>
        <div class="row">
          <div class="img-contents">
            <p class="txc"><img src="https://cdn.pixabay.com/photo/2017/12/31/13/49/barn-owl-3052382_960_720.jpg" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">テストテストテストテスト</h3>
            <p class="mt30">テストになります。テストになります。テストになります。テストになります。テストになります。テストになります。テストになります。テストになります。</p>
          </div>

          <div class="img-contents">
            <p class="txc"><img src="https://cdn.pixabay.com/photo/2020/11/25/03/04/russian-blue-cat-5774414_960_720.jpg" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">hogehogehogehogehogehoge</h3>
            <p class="mt30">hogeになります。hogeになります。hogeになります。hogeになります。hogeになります。hogeになります。</p>
        </div>
      </div>
    </div>

<!--  会社概要  -->
    <div class="contents">
      <div class="first-view">
        <div class="title1">
          <h2>会社概要</h2>
        </div>
        <div class="row">
          <div class="company-info">
            <dl>
              <dt>社名</dt>
              <dd>株式会社twinhouse</dd>
              <dt>代表取締役</dt>
              <dd>名無し 権兵衛</dd>
              <dt>本社</dt>
              <dd>〒000-0000 東京都豊島区それがしなになに</dd>
              <dt>電話番号</dt>
              <dd>03-0000-0000</dd>
              <dt>FAX</dt>
              <dd>03-0000-0000</dd>
              <dt>E-mail</dt>
              <dd>test@test</dd>
              <dt>設立</dt>
              <dd>2021年10月</dd>
              <dt>資本金</dt>
              <dd>0円</dd>
            </dl>
          </div>

          <div class="map">
            <!-- GOOGLE MAP -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12954.963815607618!2d139.7282429!3d35.7325889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae59a485e620800d!2z5qCq5byP5Lya56S-VHdpbkJlZQ!5e0!3m2!1sja!2sjp!4v1633315369496!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <!-- // GOOGLE MAP --> 
          </div>


        </div>
      </div>
    </div>


<!-- お問い合わせ -->
   <div class="contents">
      <div class="second-view">
        <div class="title2">
          <h5>ご意見・ご要望などありましたら下記お問合せフォームからお願い致します。</h5>
        </div>
        <div class="row">
          <div class="form-text">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe0L-EWYOcTggMlBzzP5vycFwMW9oAlxb0vs1AgOD_bTcrujg/viewform?embedded=true" width="740" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
          </div>
      </div>
    </div>


    <footer>
    </footer>
  </body>
</html>