<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <title>twintest</title>
  <link href="/style.css"  rel="stylesheet">
  <meta http-equiv="x-dns-prefetch-control" content="on">
</head>

 <body>
    <header>
       <div class="companyname">株式会社<br>Twinhome
      </div>

      <div class="navbar">
        <ul class="nav-lists">
          <li>TOP</li>
          <li>経営理念</li>
          <li>事業内容</li>
          <li>会社概要</li>
          <li>お問合せ</li>
        </ul>
      </div>
    </header>

<!-- 画像の設定  -->
    <div class="mainimg"></div>

<!--  経営理念-->
    <div class="contents">
      <div class="first-view">
        <div class="title1">
          <h2>経営理念</h2>
        </div>
        <div class="text1">
          <p>経営理念経営理念経営理念経営理念経営理念<br>
          <br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          </P>
        </div>
      </div>
    </div>

<!--  事業内容-->
    <div class="contents">
      <div class="second-view">
        <div class="title2">
          <h2>事業内容</h2>
        </div>
        <div class="row">
          <div class="img-contents">
            <p class="txc"><img src="https://bit.ly/3FdBLHu" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">System Engineering Service(SES)</h3>
            <p class="mt30">お客様に満足頂けるエンジニアをタイムリーに提供させて頂くこと、そのためにエフ・エフ・エルでは、人として・エンジニアして・法人として社会に貢献するために必要なスキルの向上、また、信頼のおけるパートナーの構築に全力で取組んでいきます。</p>
          </div>

          <div class="img-contents">
            <p class="txc"><img src="https://bit.ly/3FdBLHu" height="216" width="350" alt="SES" class="lozad"></p>
            <h3 class="txc">System Engineering Service(SES)</h3>
            <p class="mt30">お客様に満足頂けるエンジニアをタイムリーに提供させて頂くこと、そのためにエフ・エフ・エルでは、人として・エンジニアして・法人として社会に貢献するために必要なスキルの向上、また、信頼のおけるパートナーの構築に全力で取組んでいきます。</p>
        </div>
      </div>
    </div>

<!--  会社概要  -->
    <%# <div class="contents">
      <div class="first-view">
        <div class="title1">
          <h2>会社概要</h2>
        </div>
        <div class="row">
          <div class="company-info">
            <dl>
              <dt>社名</dt>
              <dd>株式会社エフ・エフ・エル</dd>
              <dt>代表取締役</dt>
              <dd>山下 聡之</dd>
              <dt>本社</dt>
              <dd>〒170-0013 東京都豊島区東池袋2-60-2 池袋パークハイツ2F</dd>
              <dt>大塚事務所</dt>
              <dd>〒170-0005 東京都豊島区南大塚3-23-2 横澤ビル401</dd>
              <dt>電話番号</dt>
              <dd>03-6812-1456</dd>
              <dt>FAX</dt>
              <dd>03-6812-1457</dd>
              <dt>E-mail</dt>
              <dd>otoiawase@f-f-life.com</dd>
              <dt>設立</dt>
              <dd>2017年4月</dd>
              <dt>資本金</dt>
              <dd>2,000,000円</dd>
            </dl>
          </div>

          <div class="map">
            
 %>


        </div>
      </div>
    </div>


<!-- お問い合わせ -->
   <div class="contents">
      <div class="second-view">
        <div class="title2">
          <h2>お問合せ</h2>
        </div>
        <div class="text2">
          <p>経営理念経営理念経営理念経営理念経営理念<br>
          <br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          経営理念経営理念経営理念経営理念経営理念経営理念経営理念<br>
          </P>
        </div>
      </div>
    </div>

        <!-- 『新着情報』を表示する -->
      </div>
      <div class="middle-content">
        <!-- 『スタイリスト紹介』を表示する -->
      </div>
      <div class="bottom-content">
        <!-- 『フォーム』を表示する -->
      </div>
    </div>

    <footer>
    </footer>
  </body>

</html>

